<!DOCTYPE html>
<html>

<head>
    <title>Questions</title>
</head>

<body>
  <h3> Questions Para Ti </h3>
    <form action="/example_action.html" target="_blank" method="get">
      <table style="border: 2px solid black">
        <tr>
          <td><img src="./music.jpg" alt="girl with headphones enjoy music" width="240px"> </td>
          <td><label for="music">What's your favorite genre of music:</label></td>
          <td>
            <select id="music" name="music">
              <option value="rock">Rock</option>
              <option value="electronic">Electronic Music</option>
              <option value="pop">Pop</option>
              <option value="country">Country</option>
              <option value="other">Other</option>
            </select>
          </td>
        </tr>

        <tr>
          <td rowspan="2" ><img src="./pet.jpg" alt="super cute cat" width="240px"> </td>
          <td><label for="pet">Do you have a pet?:</label></td>
          <td>
            <input type="radio" id="yes" name="pet" value="Yes">
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="pet" value="No">
            <label for="no">No</label>
            <tr>
              <td><label for="name">What's your name: </label></td>
              <td><input type="text" id="name" name="name"></td>
            </tr>
          </td>

        </tr>

        <tr>
          <td><img src="./sport.jpg" alt="guy spinning basketball on finger with a huge grin" width="240px"> </td>
          <td><label for="sports">Sports you like:</label></td>
          <td>
            <input type="checkbox" id="soccer" name="sports" value="Soccer">
            <label for="soccer">Soccer</label><br>
            <input type="checkbox" id="basketball" name="sports" value="Basketball">
            <label for="basketball">Basketball</label><br>
            <input type="checkbox" id="baseball" name="sports" value="Baseball">
            <label for="baseball">Baseball</label><br>
            <input type="checkbox" id="other" name="sports" value="Other">
            <label for="other">Other</label><br>
          </td>
        </tr>

      </table>
      <button type="submit" >Save</button>

    </form>
</body>

</html>
