<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <td> <blockquote>&#128514</blockquote> </td>
      <td>
        <img width="320px" src="music.jpg">
      </td>
    </tr>
    <tr>
      <td>Best Ice Cube Movie
        <select>
          <option value="jumpstreet">21 Jumpstreet</option>
          <option value="awty">Are We There Yet</option>
          <option value="ride">Ride Along</option>
          <option value="friday">Friday</option>
        </select>
      </td>
      <td>
        <p>Favorite artist</p>
        <input type="text"> <br><br>
        <button type="submit">submit</button>
      </td>
    </tr>
  </table>
</body>
</html>





<!-- <!DOCTYPE html>
<html>

<head>
    <title>Some More About Adams(SMBA)</title>
    <link rel="shortcut icon" type="image/x-icon" href="icons8-taurus-16.png">
</head>

<body>
    <form action="/example_action.html" target="_blank" method="post">
      <table style="border: 2px solid black; background:lightBlue">
        <tr>
          <td style="border: 1px solid black;"><h4>Welcome to my page!</h4></td>
          <td style="border: 1px solid black;">
            <img height="240px" src="IMG_20221203_130827~2.jpg" alt="picture of me(Adams Fontil) in the bathroom mirror it's a closeUp too" />
            <p>Hello I'm Adams Fontil, here's what I think is my best picture. I don't really take them. Hopefully it's fine.</p>
          </td>
        </tr>

        <tr>
          <td style="border: 1px solid black;"><h4>Some of My Favorite Albums</h4></td>
          <td style="border: 1px solid black;">
            <a href="https://www.youtube.com/watch?v=H4SlaBv-84Q&list=PLBBphqXLab1E2FcGQsttKQ6SnVixKBBhf">KoD</a><br>
            <a href="https://www.youtube.com/watch?v=pltUZzEFLR0&list=PLrbUxSl4nExNkwtsO8J-1PsN86RxvrPrT">DAMN</a><br>
            <a href="https://www.youtube.com/watch?v=1yPxQ0CSc34&list=PLf90x3PsjKdqdmxtKA93kuMmtrIbYpe7Z">The Melodic Blue</a><br>
            <a href="https://www.youtube.com/watch?v=jbalCn9tHes&t=828s">Regional at Best</a><br>
            <a href="https://www.youtube.com/watch?v=zZyWxbojYH8">The YoungBlood Chronicles </a>
          </td>
        </tr>

        <tr>
          <td style="border: 1px solid black;"><h4>How well did do this assignment:</h4></td>
          <td style="border: 1px solid black;">
            <input type="radio" id="super" name="assignment" value="Super">
            <label for="super">Super</label><br>
            <input type="radio" id="really well" name="assignment" value="Really Well">
            <label for="really well">Really Well</label><br>
            <input type="radio" id="well" name="assignment" value="Well">
            <label for="well">Well</label><br>
            <input type="radio" id="bad" name="assignment" value="Bad">
            <label for="bad">Bad</label><br>
            <input type="radio" id="super_bad" name="assignment" value="Super_bad">
            <label for="super_bad">Super Bad</label><br>
            <button type="submit" >Submit</button>
          </td>
        </tr>
      </table>

    </form>
</body>

</html> -->
