<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Your code here</p>
  <img src="Day_3_webpage_image.jpg">
  <table width="410" cellspacing="0">
    <tr>
        <td bgcolor="#ffcc33">
          <font size="2" face="verdana">
            <b>New:</b>
            <a href="http://www.paulgraham.com/getideas.html">How to get new ideas</a>
            |
            <a href="http://www.paulgraham.com/read.html">Read</a>
            |
            <a href="http://www.paulgraham.com/want.html">Will</a>
            |
            <a href="http://www.paulgraham.com/alien.html">Truth</a>
          </font>

        </td>
    </tr>
</table>
<table width="410" cellspacing="0">
  <tr>
    <td bgcolor="#ff9922">
      <strong>Want a new startup?</strong>
      Get funded by <a href="https://www.ycombinator.com/apply.html">Y combinator</a>
    </td>
  </tr>
</table>
</body>
</html>

<!DOCTYPE html>
<html>
<body>

<p>Click on the area close to the symbol </p>

<img style="width: 400px ;" src="customerService.jpg" alt='customer service girl' usemap="#image_map">
<map name="image_map">
  <area alt="customer service" title="customer service" href="https://www.pexels.com/photo/a-smiling-woman-working-in-a-call-center-while-looking-at-camera-8867434/" coords="2263,1979,5921,3869" shape="rect">
</map>



</body>
</html>
