<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        border: 1px solid black;
        border-collapse: collapse;
        margin: 20px;
        background-color: #f2f2f2;
      }
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        width: 300px;

      }
      h2 {
        color: #0066cc;
      }
      header {
        background-color: #0066cc;
        color: white;
      }
      p {
        margin: 0;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>
<body>
		<table>
      <header>
        <tr>
          <td><img width="100px" src="person2.jpg"></td>
          <td><a href="#intro"><h3>Adams Fontil</h3></a></td>
          <td><a href="#about"><h3>About</h3></a></td>
          <td><a href="#blog"><h3>My Coding Journey</h3</a></td>
          <td><a href="#skills"><h3>Skills</h3</a></td>
          <td><a href="#contact"><h3>Contact</h3</a></td>
        </tr>
      </header>

    <content>
      <tr>
        <td colspan="6">
          <h2 id="intro">Intro</h2>
          <p>Welcome to my personal website. I'm creating this site as my second project to
            use what I've learned in the Advanced HTML section. Since we shouldn't know CSS yet, or about flex, I thought
            why not use table to organize the page like I'd do with flex, or grid. Hopefully everything pans out. I'm just
            trying to do complete what's required, and try to make it a little challenging and build these projects in a way
            I wouldn't have done before.
          </p>
      </td>
      </tr>
        <tr>
          <td colspan="6"><h2 id="about">About</h2>
            <p>Hiya there, so I heard that you wanted to learn a little more about me. So I'm Adams, I'm the middle child
              and because I get to attached I don't really play video games. Most of my time is spent in front of computer
              in doors trying to make it a junior developer. I never thought that I'd like coding but I actually like it. Ofc,
              I hate it when my code doesn't work, the frustration and hole can be quite depressing. But once you figure it out,
              and make it work the rush and pride feels great.
            </p>
            <p>
              As for my professional development this is quite new to me. I really don't like putting myself out there and facing
              rejection isn't something that I really like. But fortune favors the bold, and I don't really a need fortune just want
              to be comfortable so I still must push on, play the game, and be brave to get to where I'd like to be. So I'm working on
              putting myself out here's my <a href="https://www.linkedin.com/in/adams-fontil" target="_blank">LinkedIn</a> look at me being a social butterfly.
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="6"><h2 id="blog">My Coding Journey</h2>
            <p>
              My Coding Journey began around this time last year. I really didn't want to go back to school. I forgot the
              reason. I think it had something to do with me not being blue badge at the time so I wasn't eligigle for tuition
              reimbursement. I value education highly but I really feel like it should be free, so I want to wait until Amazon
              could pay for me. I also really just wanted a break from Accounting so I thought a gap semester might help and
              rejuvinate your boy.
            </p>
            <p>
              So after I decided to forgo returning to school in the fall. I had a lot of time on my hand, and I was bored. So I picked
              up a few habits, started to learn, do some yoga, and meditate. I was really into reversing the strain Amazon was putting on
              my back and psyche. And I eventually started to learn Bookkeeping and even got certified but after doing that I was like hmm,
              what now, who's going to hire, should I start my own practice? I wasn't ready for any of those things. A couple weeks down
              the line I was just scrolling through Reddit and saw some people talking about Computer Science. I was dismissive at first
              but job about CS degrees were all over my feed.
            </p>
            <p>
              Eventually the pay, flexibility, fulfillment, and challenge of the job that so many had commented on got to me. And I now wanted
              to be a programmer. I started learning from App Academy and I thought it was insanely, and the cirriculum was free so I loved that too.
              But eventually things got really hard, so I bounced. I tried CS50, and that was hard too so I left. And I tried to a MOOC that'd teach
              me python. And I did that for a while, but it too got too hard. I eventually ended up with The Odin Project and swore that I wouldn't quit.
              And I didn't. I learned alot from that course most of what I what I know and I'm forever grateful to them. Most of the skills that I've reported
              below I learned from them. I'm still not where i want to be, although I am proud of how far I've come I'm still trying to get better, so I've shifted
              to learning from Full Stack Open another amazing ressource, completely free where I'm plan on becoming a much better developer who's great both front and backend
              development. I honestly really like this field it's about constantly improving and creating things and that's really up my alley and there's no forcing it here, like I
              had to in school. Thanks so much for reading all of this and learning more about me. If you'd like to get in touch please do, go to the contact section to
              to get my professional accounts and resume. Email me about opportunies and feedback on my work and projects. Thanks again.
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="6"><h2 id="skills">Skills</h2>
            <ul>
              <li>JavaScript</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Express.js</li>
              <li>React.js</li>
              <li>Node.js</li>
              <li>MongoDB</li>
            </ul>
          </td>
        </tr>
    </content>
    <footer>
        <tr>
          <td colspan="6"><h2 id="contact">Contact</h2>
        <form method="POST" action="http://example.com/random-url" target="_blank" onsubmit="submitForm()">
          <div>
            <p><label for="first-name">First Name:</label></p>
            <p><input type="text" id="first-name" name="first-name"></p>
          </div>
          <div>
            <p><label for="last-name">Last Name:</label></p>
            <p><input type="text" id="last-name" name="last-name"></p>
          </div>
          <div>
            <p><label for="telephone">Telephone:</label></p>
            <p><input type="tel" id="telephone" name="telephone"></p>
          </div>
          <div>
            <p><label for="email">Email:</label></p>
            <p><input type="email" id="email" name="email"></p>
          </div>
          <div>
            <p colspan="1"><button type="submit">Save</button></p>
          </div>
          <tr>
            <td colspan="2"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"> <img src="../images/resume.png"></a></td>
            <td colspan="2"><a href="https://www.youtube.com/watch?v=ddqvuwXBK5k" target="_blank"><img src="../images/gmail.png"></a></td>
            <td colspan="2"><a href="https://www.linkedin.com/in/adams-fontil" target="_blank"><img src="../images/linkedin2.png"></a></td>
          </tr>
        </form>
          </td>
        </tr>
    </footer>
		</table>

</body>
</html>
