@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.projects-slider {
  max-width: 1220px;

}
@font-face {
  font-family: 'Child Babita';
  src: url('./Assets/fonts/Child-Babita.ttf') format('truetype');
}


/* * {
  border: 2px solid red;
} */
